.cart__empty {
  display: flex;
  height: 100%;
  justify-content: center;
  align-self: center;
  margin-top: 5%;
  font-size: 3rem;
}

.products-summary {
  display: flex;
  margin: 0 1%;

  .products {
    width: 70%;

    .products__header {
      text-align: center;
      text-transform: uppercase;
      border: 2px solid black;
      padding: 5px 0;
    }
    
    .cart__product {
      display: flex;
      justify-content: space-between;
      border: 1px solid black;

      .product__order {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 3%;
        border-radius: 50%;
      }

      .product__thumbnail {
        width: 20%;
        height: 100%;

        .product__thumbnail-img {
          width: 100%;
          height: 150px;
        }
      }

      .product__data {
        width: 60%;

        .product__data-name {
          text-align: center;
          margin-top: 2%;
        }

        .product__data-description {
          margin-top: 2%;
          text-align: center;
          font-style: italic;
          color: gainsboro;
        }

        .product__data-rating {
          margin-top: 2%;
          text-align: center;
        }

        .product__data-discount {
          text-align: center;
        }
      }
      
      .product__buy-data {
        margin: auto;

        .product__stock {
          text-align: center;
        }

        .product-amount-control {
          display: flex;
          align-items: center;

          .product-amount__current {
            margin: 0 10px;
          }

          .product-amount__el {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            padding: 0 4px;
            border: 1px solid black;
            border-radius: 50%;
          }
        }

        .product__price {
          text-align: center;
        }
      }
    }
  }

  .summary {
    width: 30%;
    margin-left: 5%;
    border: 1px solid black;
    font-size: 1.6rem;

    &__header {
      text-align: center;
      border: 1px solid black;
    }

    .content__amount {
      margin-top: 3%;
      display: flex;
      justify-content: center;

      .content__amount-value {
        margin-left: 2%;
      }
    }

    .content__price {
      margin-top: 3%;
      display: flex;
      justify-content: center;

      .content__price-value {
        margin-left: 2%;
      }
    }

    .content__price-new {
      margin-top: 3%;
      display: flex;
      justify-content: center;

      .content__price-value-new {
        margin-left: 2%;
      }
    }
  }

  .promo {
    text-align: center;
    margin-top: 5%;

    .promo__hint-value {
      font-style: italic;
      text-decoration: dashed;
      color: gainsboro;
    }

    .promo__input {
      margin-bottom: 2%;
    }

    .promo-table__header {
      margin: 3% 0;
    }

    .promo-table__row {
      display: flex;
      justify-content: center;
      margin: 2% 0;

      .promo-table__row-amount {
        margin: 0 5%;
      }
      
      .promo-table__row-remove {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        border: 1px solid black;
        cursor: pointer;
      }
    }
  }

  .cart-buy__button {
    margin: auto;
    text-align: center;
    width: 40%;
  }
}

.pagination {
  margin: 1% 1%;

  .switch-page {
    display: flex;
    align-items: center;
    margin: 20px 0;

    .switch-page__text {
      margin-right: 20px;
    }

    .switch-page__current {
      margin: 0 10px;
    }

    .switch-page__control {
      border-radius: 50%;
      width: 30px;
      height: 30px;
      padding: 5px 10px;
      border: 1px solid black;
    }
  }
}
