.button {
  background-color: $red;
  color: white;
  border: 1px solid $red;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 18px;
  transition: color .3s, background-color .3s;

  &:hover {
    background-color: white;
    color: $red;
  }
}