body {
  height: auto;
}

.store-project {
  height: auto;
}

.wrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
  height: 100%;
}

