.credit-card {

  &__wrapper {
    padding: 30px 20px;
    border: 1px solid $red;
    background: linear-gradient(90deg,rgb(0,9,36) 6%,rgb(9,9,121) 34%,rgb(0,212,255) 100%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    width: 500px;
  }

  &__number {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }

  &__text {
    color: $red
  }

  &__img {
    background-color: white;
    width: 50px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid $red;
  }

  &__logo {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  &__input {
    border: 1px solid $red;
    border-radius: 5px;
  }
}