.goods {
  width: 80%;
  &__area {
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    position: relative;

    &_many {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  &__title {
    color: red;
    font-size: 30px;
    font-weight: 700;
  }

  &__empty {
    font-size: 36px;
    text-align: center;
    color: $red;
    position: absolute;
    left: 40%;
  }

  &__options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
  }

}