.modal-page {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  &__invisible {
    display: none;
  }

  &__wrapper {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $gray-modal;
    border: 5px solid $blue;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    &_wrong {
      border-color: $red-dark;
    }
  }

  &__title {
    color: $blue;
    font-size: 28px;
  }

  &__subtitle {
    color: $blue;
    font-size: 24px;
    text-align: center;
    padding-bottom: 10px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
  }

  &__input {
    border:  1px solid $blue;
    padding: 5px 10px;
    border-radius: 10px;
    &:focus {
      outline: none;
    }
  }

  &__button {
    background-color: $blue;
    color: white;
    border-radius: 10px;
    border: 1px solid $blue;
  }

  &__error {
    color: $red-dark;
    font-weight: 700;
    position: absolute;
    right: 20px;
    
    &_img {
      width: 20px;
      height: 20px;
    }
  }

  &__message {
    font-size: 36px;
    background-color: $gray-modal;
    color: $blue;
    padding: 50px 70px;
    border: 2px solid $blue;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}