.search {
  display: flex;
  flex-direction: row;
  &__block {
    display: flex;
    flex-direction: row;
    border: 2px solid red;
    border-radius: 5px;
  }

  &__img {
    width: 20px;
    margin: 10px;
  }

  &__input {
    &:focus {
      outline: none;
    }
  }
}