.view {
  display: flex;
  flex-direction: row;
  gap: 20px;

  &__button {
    cursor: pointer;
    &_img {
      border: 1px solid transparent;
    }
    &_active {
      border: 1px solid $red;
    }
  }

  
}